body{
 margin: 0;
 background-color: rgb(88, 87, 87);
 display: flex;
 justify-content: center;
 
}
.icons{
  color: rgb(238, 235, 235);
  font-size: xx-large;
}
.img{
  color:white;
  height:15vh;
  align-self: center;
  background-color: whitesmoke;
  
}
.app{
  display: flex;
  margin: 0 ;
 
  margin-top: 10vh;

  max-width: 500px;
  color: aliceblue;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  font-size: 1vmax;
  max-height: 700vh;
  
  border: 2px solid blanchedalmond
}
.des{
  display: flex;
  
  flex-direction: column;
  
  align-items: center;
  
  
 
  
}
.name{
  margin: 0;
  color: whitesmoke;
}



.llinks{
  display: flex;
  margin: 1em 0;
  flex-direction: row;
  padding: 0;
  justify-content: space-between;
  
}

.llinks button{
  
  
  color: aliceblue;
 
  padding:0;
  margin: 0 2em;
font-weight: bolder;
font-size: larger;
  
}
.llinks button:hover{
  
  
  color: rgb(20, 126, 219);
 
 
}
.llinks button a{
  
  
  text-decoration: none;

  
}
.ll{
  display: flex;
  color:black;
}

.llinks a:hover{
  color: rgb(152, 157, 164);
  
  
}
.website{
  display: flex;
  align-self: center;
  margin: 0;
  color: wheat;
}
.sicons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size:medium;
  padding: 0;
  margin: 1em;


}
.sicons a:hover{
  color: rgb(124, 122, 120);
  


}
.sicons a{
 padding: 0 1rem;


}
.info{
  padding: 0 2em;
}
.intrests{
  padding: 0 2em;
}
.about{
  font-weight:bolder;
  
  box-shadow: 0 1px rgb(193, 193, 165);
  color: blanchedalmond;
  
}
.ihead{
  font-weight: bold;
  box-shadow: 0 1px rgb(193, 193, 165);
  color: blanchedalmond;

 
}