body{
  background-color: rgb(0, 0, 0);
}
.icons{
  color: rgb(238, 235, 235);
  font-size: xx-large;
}
.img{
  color: whitesmoke;
  height: 24vh;
  align-self: center;
  align-items: center;
}
.app{
  display: flex;
  color: aliceblue;
  flex-direction: column;
  justify-content: center;
  margin: auto 5%;
  border: 2px solid bisque;
}
.des{
  display: flex;
  
  flex-direction: column;
  align-self: center;
}
.website{
  display: flex;
  align-self: center;
}
.sicons{
  display: flex;
  flex-direction: row;
  justify-content: center;
}